$primaryColor: #b797ce;
$primaryContainer: #3F2651;
$OnPrimaryContainer: #9B6FBB;
$secondaryColor: #aece97;
$teriaryColor: #4b7a8c;
$surface: #9f9893;
$error: #b3261e;
$errorContainer: #F9DEDC;
$containerColor: #9b6fbb;
$font: 'Nunito', sans-serif;