@import '../settings/variables';
@import '../settings/mixins';

.game-play {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: $teriaryColor;

  &__action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 5rem;

    &--time {
      font-size: 2rem;
      color: white;
    }

    &--btnEnd {
      background-color: transparent;
      border: none;
      color: red;
    }
  }

  &__question {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 3rem;
    color: white;
  }

  &__answers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &--btn {
      border: none;
      background-color: $primaryColor;
      width: 17rem;
      margin-bottom: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-radius: 2rem;
      color: white;
      font-family: $font;
    }
  }
}

.btn-question {
  &--selected {
    background-color: $containerColor;
  }
}

.MuiButtonBase-root.MuiPaginationItem-root {
  color: white;
}