@import '../settings/variables';
@import '../settings/mixins';

.start-game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 5rem);

  p {
    color: white;
    margin-bottom: .5rem;
    font-size: 1.25rem;

    strong {
      font-weight: 600;
    }
  }
}